<template name="newPost">
  <div class="row">
    <div class="large-9 columns">
      <input id="title-area" type="text" placeholder="Введите заголовок">
    </div>
    <div class="large-3 columns">
      <input id="date-area" type="text" placeholder="Выберите дату">
    </div>
  </div>
  {{> buttonBar}}
  <br>
  <textarea id="editor-area" placeholder=""></textarea>
  <input type="text" id="add-new-tags">
  <br>
  <button id="submit-post" class="button radius">Опубликовать</button>
</template>

<template name="buttonBar">
  <div class="button-bar">
    <ul class="text-edit-toolbar button-group radius">
      <li class="bold button secondary small"><i class="icon-bold"></i></li>
      <li class="italic button secondary small"><i class="icon-italic"></i></li>
      <li class="underline button secondary small"><i class="icon-underline"></i></li>
      <li class="strike button secondary small"><i class="icon-strike"></i></li>
    </ul>
    <ul class="text-edit-toolbar button-group radius">
      <li class="JustifyLeft button secondary small"><i class="icon-align-left"></i></li>
      <li class="JustifyCenter button secondary small"><i class="icon-align-center"></i></li>
      <li class="JustifyRight button secondary small"><i class="icon-align-right"></i></li>
      <li class="JustifyFull button secondary small"><i class="icon-align-justify"></i></li>
    </ul>
    <ul class="text-edit-toolbar button-group radius">
      <li class="CreateLink button secondary small"><i class="icon-link"></i></li>
      <li class="Unlink button secondary small"><i style="color: red" class="icon-link"></i></li>
    </ul>
  </div>
</template>